.aboutMe {
  display: flex;
  justify-content: space-between;
}

.headshotImage {
  position: relative;
  // border: 2px solid skyblue;
}

.headshotImage img {
  width: 300px;
  // border: 2px solid turquoise;
}

.headshotImage p {
  text-transform: uppercase;
  position: absolute;
  top: 84px;
  left: -109px;
  transform: rotate(270deg);
  min-height: 20px;
  // border: 2px solid tomato;
  color: $tertiaryColour;
}

//position: relative required to position triangles
.intro {
  // border: 2px solid plum;
  z-index:100;
  margin: auto 0;
  padding-left: 50px;
  position: relative;

  p a {
    color: $quaternaryColour;
    padding: 0;
    z-index:200;
   
  }

  a:hover {
    color: $primaryAccent;
    
  }
  
}
.aboutMe .sectionContent  {
  background: $lightBgColour;
  padding: 10% 12%;
  display: flex;
}



.text span {
  // border: 2px solid orange;
  color: $primaryAccent;
}

.text h2 {
  // border: 2px solid purple;
  color: $primaryAccent;
}

.text p {
  // border: 2px solid blueviolet;
}

//triangle decoration styling
.triangle {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  z-index:0;
}

.triangle1 {
  z-index:0;
  position: absolute;
  top: -180px;
  right: -170px;
  transform: rotate(-60deg);
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 250px;
  border-left-width: 250px;
  border-bottom: solid 285px rgba(255, 48, 87, 0.05);
}
.triangle2 {
  z-index: 0;
  border: 2px solid green;
  position: absolute;
  right: -150px;
  top: -30px;
  transform: rotate(225deg);
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 255px;
  border-left-width: 255px;
  border-bottom: solid 285px rgba(255, 48, 87, 0.05);
}
