.aboutMe {
  display: flex;
  justify-content: space-between;
}

.headshotImage {
  position: relative;
  // border: 2px solid skyblue;
}

.headshotImage img {
  width: 300px;
  // border: 2px solid turquoise;
}

.headshotImage p {
  text-transform: uppercase;
  position: absolute;
  top: 84px;
  left: -109px;
  transform: rotate(270deg);
  min-height: 20px;
  // border: 2px solid tomato;
  color: $tertiaryColour;
}

//position: relative required to position triangles
.intro {
  // border: 2px solid plum;
  z-index: 100;
  margin: auto 0;
  padding-left: 50px;
  position: relative;

  p a {
    color: $quaternaryColour;
    padding: 0;
    z-index: 200;
  }

  a:hover {
    color: $primaryAccent;
  }
}
.aboutMe .sectionContent {
  padding: 5% 12% 0 12%;
  display: flex;
}

.text span {
  // border: 2px solid orange;
  color: $primaryAccent;
}

.text h2 {
  // border: 2px solid purple;
  color: $primaryAccent;
}

.text p {
  // border: 2px solid blueviolet;
}

//triangle decoration styling
.triangle {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  z-index: 0;
}

.triangle1 {
  z-index: 0;
  position: absolute;

  top: -60px;
  right: -120px;
  // right: -170px;
  transform: rotate(-60deg);
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 250px;
  border-left-width: 250px;
  border-bottom: solid 285px rgba(255, 48, 87, 0.05);
}
.triangle2 {
  z-index: 0;
  border: 2px solid green;
  position: absolute;
  right: -120px;
  // right: -150px;
  top: 75px;
  transform: rotate(225deg);
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 255px;
  border-left-width: 255px;
  border-bottom: solid 285px rgba(255, 48, 87, 0.05);
}

@include desktopMed {
  .intro h2 {
    margin: -20px 0 0 0;
  }
}
@include desktopSmall {
  .triangle1 {
    top: 12px;
    right: -60px;
  }

  .triangle2 {
    top: 100px;
    right: -60px;
  }
}

@include desktopTiny {
  // .headshotImage {
  //   display: flex;
  //   align-items: center;
  // }

  .headshotImage img {
    width: 200px;
  }

  .headshotImage p {
    // top: 295px;
    @include fontSize(18);
  }
}

@include tabletLarge {
  .aboutMe .sectionContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headshotImage {
    padding-bottom: 50px;
  }

  .triangle1 {
    right: -20px;
  }

  .triangle2 {
    right: -20px;
  }
}

@include tabletSmall {
  .sectionHeader .sectionNumber {
    display: none;
  }

  .sectionHeader .sectionDesc h2 {
    text-align: left;

    span {
      @include fontSize(38);
    }
  }

  .aboutMe .sectionContent {
    padding: 5% 5% 0 5%;
  }

   .triangle1 {
  
    right: 20px;
  }

  .triangle2 {
   
    right: 20px;
  }
}

@include phoneLarge {
  .triangle1 {
    right: 30px;
    border-right-width: 200px;
    border-left-width: 200px;
    border-bottom: solid 235px rgba(255, 48, 87, 0.05);
  }

  .triangle2 {
    right:30px;
    border-right-width: 205px;
    border-left-width: 205px;
    border-bottom: solid 245px rgba(255, 48, 87, 0.05);
  }
}
