footer {
    background-color: $primaryAccent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}

footer ul {
    display: flex;
}

footer i {
    color: $primaryColour;
    padding: 0 10px;
    width: 100%;
}


footer li a {
    padding: 0;
    transition: $transitionDetail;

}

footer li i:hover {
    color: $quaternaryColour;
    cursor: pointer;
}

