body {
  max-width: 1900px;
  margin: 0 auto;
}
.wrapper {
  padding: 5% 10% 5% 10%;
  // border: 2px solid turquoise;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  scroll-behavior: smooth;
  // border: 2px solid peachpuff;
}

a {
  text-decoration: none;
  padding: 15px;
  color: $primaryColour;
  
  // border: 2px solid tomato;
}

span {
  color: $secondaryAccent;
  // border: 2px solid yellow;
}

//navigation arrow styling 
.arrowContainer {

  display: flex;
  justify-content: center;
  padding: 0 0 5% 0;
 
}
.arrowIcon {
  width: 5%;
}

.aboutMe a.arrowContainer,
.work a.arrowContainer {
  background: $lightBgColour;
}

.contact a.arrowContainer {
  background: $quaternaryColour;
}

//layout styling for all sections begins here
.sectionLayout {
  display: flex;
  flex-direction: column;
}



// header styling for each section
.sectionHeader {
  padding: 1% 10%;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 -1px 6px 0px $tertiaryColour;
  h2 {
    color: $tertiaryColour;
  }
}

.sectionHeader h2.sectionNumber {
  &::after {
    padding-bottom: 10px;
  }
}

.sectionNumber {
  display: flex;
  align-items: center;
  &::after {
    content: "\2015";
  }
}

.sectionDesc h2 {
  text-align: right;
}


.sectionContent {
   background: $lightBgColour;
}
.text h3,
.text p {
  padding: 10px 0;
}

// global accessibility styling
header .button,
[type="submit"],
.headerNavSocial a {
  transition: $transitionDetail;
}
//hover states
.headerNavSocial a:hover {
  color: $secondaryAccent;
}

header .button:hover,
[type="submit"]:hover {
  background-color: $secondaryAccent;
}

//focus states
[type="text"]:focus,
[type="email"]:focus,
[type="submit"]:focus,
a:focus {
  border: 2px solid $secondaryAccent;
}

//media queries

@include tabletLarge {
  .wrapper {
    padding: 5%;
  // border: 2px solid turquoise;
  }
}