.topHeaderNav {
    display: flex;
    justify-content: space-between;
    color: $primaryColour;
}

.headerNav ul {
    display: flex;
}

.topHeaderNav a {  
  position: relative;
//adapted from codepen https://codepen.io/jstn/pen/zuDst/
    &:after {   
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &:hover:after { 
        width: 100%; 
        left: 0; 
    }
}