header {
    min-height: 100vh;
    background-color: $secondaryColour;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.headerTitleContainer {
    display: flex;
    justify-content: space-between;
    // padding-top: 300px;
}

.headerTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    
    a {
        margin-top: 10%;
    }
}

header .button {
    background: $primaryAccent;
    color: $primaryColour;
    padding: 20px 15px 20px 15px;
    text-transform: uppercase;
    text-align: center;
}

.headerDecor {
    background: url(../assets/headerLines.png) no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 630px;
    opacity: 0.45;
}

//styling for media queries

@include desktopTiny {
  .headerDecor{
    background: url(../assets/lines-800x640.png) no-repeat;
    width: 800px;
    height: 640px;
  }
}

@include tabletLarge {
  .wrapper {
    padding: 15% 5% 25% 5%;
  }
  
  .logo {
    display: none;
  }

  header .topHeaderNav {
    justify-content: center;
  }

  header .headerNavSocial {
    display: none;
  }
}


@include tabletMed {
  header {
    min-height: 50vh; 
  }
  .headerDecor{
    background: url(../assets/lines-600x480.png) no-repeat;
    width: 600px;
    height: 480px;
  }
}
@include tabletSmall {
  .wrapper {
    padding: 10% 5%;
  }

  .headerDecor{
    background: url(../assets/lines480x384.png) no-repeat;
 
    width: 480px;
    height: 384px;
  }
 
}

@include phoneLarge {
  .headerDecor{
    background: url(../assets/lines300x240.png) no-repeat;
    
    width: 300px;
    height: 240px;
  }
}