header {
    min-height: 100vh;
    background-color: $secondaryColour;
    background-image: url('/assets/sqwiggleylines.png');
    background-position: left bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.headerTitleContainer {
    display: flex;
    justify-content: space-between;
}

.headerTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
        margin-top: 10%;
    }

}

header .button {
    background: $primaryAccent;
    color: $primaryColour;
    padding: 20px 50px 20px 15px;
    text-transform: uppercase;
}
