.headerNavSocial {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.headerNavSocial li {
    transform: rotate(270deg);
}

.headerNavSocial a {
    padding-right: inherit;
}