@mixin fontSize($sizeValue){
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/20) * 1rem;
}

@mixin lineHeight($heightValue){
  line-height: $heightValue * 1.6;
  line-height: ($heightValue/20) * 1.6rem;
}


@mixin desktopMed {
  @media(max-width: 1360px) {@content};
}

@mixin desktopSmall {
  @media (max-width: 1240px) {@content};
}

@mixin desktopTiny {
    @media (max-width: 1000px) {@content};
}

@mixin tabletLarge {
  @media(max-width: 900px) {@content};
}

@mixin tabletMed {
    @media(max-width: 700px) {@content};
}

@mixin tabletSmall {
  @media(max-width: 600px) {@content};
}

@mixin phoneLarge {
  @media(max-width: 480px) {@content};
}

@mixin phoneSmall {
    @media(max-width: 350) {@content};
}





