
//general body typography
h1,
h2,
h3,
p,
a {
  color: $primaryColour;
}

a,
p {
  letter-spacing: 2.5px;
}

h1 {
  @include fontSize(180);
  @include lineHeight(180);
  font-family: $displayFont;
  font-weight: 700;
  text-transform: lowercase;
}

body {
  font-family: $bodyFont;
}

//header typography
.headerNav li {
  @include fontSize(32);
  font-family: $displayFont;
  font-weight: 400;
}

.headerNavSocial li {
  @include fontSize(24);
  font-weight: 500;
  text-transform: uppercase;
}

header h2 {
  @include fontSize(56);
  font-weight: 500;

  span {
    font-weight: 700;
  }
}

header .button {
  font-weight: 700;
}

//header media queries
@include desktopSmall {
 header h1 {
    @include fontSize(125);
  }

  header h2 {
    @include fontSize(42);
  }

  .headerNav li {
    @include fontSize(26)
  }

  .headerNavSocial li {
    @include fontSize(20)
  }
}

//global font sizes and typography styles for section headers
.sectionHeader h2.sectionNumber {
  font-family: $displayFont;
  font-weight: 300;
  @include fontSize(60);
  &::after {
    padding-left: 10px;
    @include fontSize(50);
  }
}

.sectionDesc h2 {
  @include fontSize(28);
  @include lineHeight(28);
  font-family: $bodyFont;
  font-weight: 500;
  text-transform: uppercase;
}

.sectionDesc span {
  font-family: $displayFont;
  font-weight: 400;
  @include fontSize(42);
  @include lineHeight(42);
  text-transform: lowercase;
  display: block;
  color: #1a1a1a;
}

//global font sizes and typography styles for section headers and text
.text h2 {
  @include fontSize(50);
  @include lineHeight(35);
  font-style: bold;
}

.text h3, 
.text p {
    color: $quaternaryColour;
}

.text h3 {
    font-family: $displayFont;
    @include fontSize(32);
    @include lineHeight(32);
}

.text p {
    @include fontSize(24);
    @include lineHeight(24);
    font-family: $secondaryBodyFont;
}

//skills section typography
.skills h2 {
    @include fontSize(50);
}


.skills span {
  @include fontSize(24);
}

.skills i {
  @include fontSize (100);
}

//work sectionLayout typography

.portfolioPiece .text {
  h3 {
    @include fontSize(40);
    font-family: $bodyFont;

  }
  
  h4{
    @include fontSize(24);
    @include lineHeight(24);
  }

  p {
    font-family: $secondaryBodyFont;
  }

}


//contact typography styling 
.contact h3 {
 font-family: $bodyFont;
 @include fontSize(36);
 @include lineHeight(36);
 font-weight: 700;  
}

.contact p {
    font-family: $displayFont;
    @include fontSize(24);
    @include lineHeight(24);
    font-weight: 400;
}

.contact label {
    color: $primaryColour;
    font-family: $bodyFont;
    @include fontSize(20);
    font-weight: 500;
    text-transform: uppercase;
}

.contact input[type="text"],
.contact input[type="email"] {
    color: $primaryColour;
}

.contact input[type="text"]::placeholder,
.contact input[type="email"]::placeholder {
    color: $primaryColour;
    font-family: $secondaryBodyFont;
    @include fontSize(18);
    font-style: italic;
}

button[type="submit"] {
    background: $primaryAccent;
    color: $primaryColour;
    text-transform: uppercase;
}
//footer typography styling
footer {
    font-family: $secondaryBodyFont;
    @include fontSize(16);
    font-weight: 400;
}

footer i {
    @include fontSize(20);
}

//media queries for typography begin here 
@include desktopSmall {
  .portfolioPiece .text {
    h2 {
      @include fontSize(30);
      @include lineHeight(30);
    }

    h4 {
      @include fontSize(20);
      @include lineHeight(20)
    }
    
    p {
      @include fontSize(20);
      @include lineHeight(20);
    }
  }
}

@include desktopTiny {

  .intro h2 {
    @include fontSize(40);
    @include lineHeight(30);
  }

  .intro h3 {
    @include fontSize(22);
    @include lineHeight(22);
  }

  .intro p {
    @include fontSize(20);
    @include lineHeight(20);
  }
}

@include tabletLarge {
  header h1 {
    @include fontSize(100);
    @include lineHeight(100);
  }
  header h2 {
    @include fontSize(36);
    @include lineHeight(36);
  }

  .headerNav li {
    @include fontSize(28);
    @include lineHeight(28);
  }
}

@include tabletSmall {
  header h1 {
    @include fontSize(80);
    @include lineHeight(80);
  }

  header h2 {
    @include fontSize(30);
    @include lineHeight(30);
  }

  .headerNav li {
    @include fontSize(20);
    @include lineHeight(20);
  }

  .sectionHeader .sectionDesc h2 {
    span {
      @include fontSize(38);
      @include lineHeight(38)
    }
  }
}


@include phoneLarge {
  header h1 {
    @include fontSize(60);
    @include lineHeight(60);
  }

  header h2 {
    margin-top: -50px;
  }

  .headerNav li {
    @include fontSize(18);
    @include lineHeight(18);
  }
}

