$primaryColour: #ffffff; //white 
$secondaryColour: #313131; //dark grey
$tertiaryColour: #999999; //light grey
$quaternaryColour: #0b0b0b; //black
$lightBgColour: #fafafa; //off white
$primaryAccent: #ff3057; //pink
$secondaryAccent: #30d2a5; //teal
$displayFont: 'Comfortaa', cursive;
$bodyFont: 'Maven Pro', sans-serif;
$secondaryBodyFont: 'Raleway', sans-serif;
$transitionDetail: .3s ease-in-out;