article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #313131;
  color: white; }

.skipLink:focus {
  left: 0; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body {
  max-width: 1900px;
  margin: 0 auto; }

.wrapper {
  padding: 5% 10% 5% 10%; }

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  padding: 15px;
  color: white; }

span {
  color: #30d2a5; }

.arrowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0 5% 0; }

.arrowIcon {
  width: 5%; }

.aboutMe a.arrowContainer,
.work a.arrowContainer {
  background: #fafafa; }

.contact a.arrowContainer {
  background: #0b0b0b; }

.sectionLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.sectionHeader {
  padding: 1% 10%; }

.sectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: inset 0 -1px 6px 0px #999999;
  box-shadow: inset 0 -1px 6px 0px #999999; }
  .sectionHeader h2 {
    color: #999999; }

.sectionHeader h2.sectionNumber::after {
  padding-bottom: 10px; }

.sectionNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .sectionNumber::after {
    content: "\2015"; }

.sectionDesc h2 {
  text-align: right; }

.sectionContent {
  background: #fafafa; }

.text h3,
.text p {
  padding: 10px 0; }

header .button,
[type="submit"],
.headerNavSocial a {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.headerNavSocial a:hover {
  color: #30d2a5; }

header .button:hover,
[type="submit"]:hover {
  background-color: #30d2a5; }

[type="text"]:focus,
[type="email"]:focus,
[type="submit"]:focus,
a:focus {
  border: 2px solid #30d2a5; }

@media (max-width: 900px) {
  .wrapper {
    padding: 5%; } }

h1,
h2,
h3,
p,
a {
  color: white; }

a,
p {
  letter-spacing: 2.5px; }

h1 {
  font-size: 180px;
  font-size: 9rem;
  line-height: 288;
  line-height: 14.4rem;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  text-transform: lowercase; }

body {
  font-family: "Maven Pro", sans-serif; }

.headerNav li {
  font-size: 32px;
  font-size: 1.6rem;
  font-family: "Comfortaa", cursive;
  font-weight: 400; }

.headerNavSocial li {
  font-size: 24px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase; }

header h2 {
  font-size: 56px;
  font-size: 2.8rem;
  font-weight: 500; }
  header h2 span {
    font-weight: 700; }

header .button {
  font-weight: 700; }

@media (max-width: 1240px) {
  header h1 {
    font-size: 125px;
    font-size: 6.25rem; }
  header h2 {
    font-size: 42px;
    font-size: 2.1rem; }
  .headerNav li {
    font-size: 26px;
    font-size: 1.3rem; }
  .headerNavSocial li {
    font-size: 20px;
    font-size: 1rem; } }

.sectionHeader h2.sectionNumber {
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  font-size: 60px;
  font-size: 3rem; }
  .sectionHeader h2.sectionNumber::after {
    padding-left: 10px;
    font-size: 50px;
    font-size: 2.5rem; }

.sectionDesc h2 {
  font-size: 28px;
  font-size: 1.4rem;
  line-height: 44.8;
  line-height: 2.24rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  text-transform: uppercase; }

.sectionDesc span {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 42px;
  font-size: 2.1rem;
  line-height: 67.2;
  line-height: 3.36rem;
  text-transform: lowercase;
  display: block;
  color: #1a1a1a; }

.text h2 {
  font-size: 50px;
  font-size: 2.5rem;
  line-height: 56;
  line-height: 2.8rem;
  font-style: bold; }

.text h3,
.text p {
  color: #0b0b0b; }

.text h3 {
  font-family: "Comfortaa", cursive;
  font-size: 32px;
  font-size: 1.6rem;
  line-height: 51.2;
  line-height: 2.56rem; }

.text p {
  font-size: 24px;
  font-size: 1.2rem;
  line-height: 38.4;
  line-height: 1.92rem;
  font-family: "Raleway", sans-serif; }

.skills h2 {
  font-size: 50px;
  font-size: 2.5rem; }

.skills span {
  font-size: 24px;
  font-size: 1.2rem; }

.skills i {
  font-size: 100px;
  font-size: 5rem; }

.portfolioPiece .text h3 {
  font-size: 40px;
  font-size: 2rem;
  font-family: "Maven Pro", sans-serif; }

.portfolioPiece .text h4 {
  font-size: 24px;
  font-size: 1.2rem;
  line-height: 38.4;
  line-height: 1.92rem; }

.portfolioPiece .text p {
  font-family: "Raleway", sans-serif; }

.contact h3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 36px;
  font-size: 1.8rem;
  line-height: 57.6;
  line-height: 2.88rem;
  font-weight: 700; }

.contact p {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  font-size: 1.2rem;
  line-height: 38.4;
  line-height: 1.92rem;
  font-weight: 400; }

.contact label {
  color: white;
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase; }

.contact input[type="text"],
.contact input[type="email"] {
  color: white; }

.contact input[type="text"]::-webkit-input-placeholder,
.contact input[type="email"]::-webkit-input-placeholder {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-size: 0.9rem;
  font-style: italic; }

.contact input[type="text"]:-ms-input-placeholder,
.contact input[type="email"]:-ms-input-placeholder {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-size: 0.9rem;
  font-style: italic; }

.contact input[type="text"]::-ms-input-placeholder,
.contact input[type="email"]::-ms-input-placeholder {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-size: 0.9rem;
  font-style: italic; }

.contact input[type="text"]::placeholder,
.contact input[type="email"]::placeholder {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-size: 0.9rem;
  font-style: italic; }

button[type="submit"] {
  background: #ff3057;
  color: white;
  text-transform: uppercase; }

footer {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-size: 0.8rem;
  font-weight: 400; }

footer i {
  font-size: 20px;
  font-size: 1rem; }

@media (max-width: 1240px) {
  .portfolioPiece .text h2 {
    font-size: 30px;
    font-size: 1.5rem;
    line-height: 48;
    line-height: 2.4rem; }
  .portfolioPiece .text h4 {
    font-size: 20px;
    font-size: 1rem;
    line-height: 32;
    line-height: 1.6rem; }
  .portfolioPiece .text p {
    font-size: 20px;
    font-size: 1rem;
    line-height: 32;
    line-height: 1.6rem; } }

@media (max-width: 1000px) {
  .intro h2 {
    font-size: 40px;
    font-size: 2rem;
    line-height: 48;
    line-height: 2.4rem; }
  .intro h3 {
    font-size: 22px;
    font-size: 1.1rem;
    line-height: 35.2;
    line-height: 1.76rem; }
  .intro p {
    font-size: 20px;
    font-size: 1rem;
    line-height: 32;
    line-height: 1.6rem; } }

@media (max-width: 900px) {
  header h1 {
    font-size: 100px;
    font-size: 5rem;
    line-height: 160;
    line-height: 8rem; }
  header h2 {
    font-size: 36px;
    font-size: 1.8rem;
    line-height: 57.6;
    line-height: 2.88rem; }
  .headerNav li {
    font-size: 28px;
    font-size: 1.4rem;
    line-height: 44.8;
    line-height: 2.24rem; } }

@media (max-width: 600px) {
  header h1 {
    font-size: 80px;
    font-size: 4rem;
    line-height: 128;
    line-height: 6.4rem; }
  header h2 {
    font-size: 30px;
    font-size: 1.5rem;
    line-height: 48;
    line-height: 2.4rem; }
  .headerNav li {
    font-size: 20px;
    font-size: 1rem;
    line-height: 32;
    line-height: 1.6rem; }
  .sectionHeader .sectionDesc h2 span {
    font-size: 38px;
    font-size: 1.9rem;
    line-height: 60.8;
    line-height: 3.04rem; } }

@media (max-width: 480px) {
  header h1 {
    font-size: 60px;
    font-size: 3rem;
    line-height: 96;
    line-height: 4.8rem; }
  header h2 {
    margin-top: -50px; }
  .headerNav li {
    font-size: 18px;
    font-size: 0.9rem;
    line-height: 28.8;
    line-height: 1.44rem; } }

header {
  min-height: 100vh;
  background-color: #313131;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.headerTitleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 100; }
  .headerTitle a {
    margin-top: 10%; }

header .button {
  background: #ff3057;
  color: white;
  padding: 20px 15px 20px 15px;
  text-transform: uppercase;
  text-align: center; }

.headerDecor {
  background: url(../assets/headerLines.png) no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1000px;
  height: 630px;
  opacity: 0.45; }

@media (max-width: 1000px) {
  .headerDecor {
    background: url(../assets/lines-800x640.png) no-repeat;
    width: 800px;
    height: 640px; } }

@media (max-width: 900px) {
  .wrapper {
    padding: 15% 5% 25% 5%; }
  .logo {
    display: none; }
  header .topHeaderNav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  header .headerNavSocial {
    display: none; } }

@media (max-width: 700px) {
  header {
    min-height: 75vh; }
  .headerDecor {
    background: url(../assets/lines-600x480.png) no-repeat;
    width: 600px;
    height: 480px; } }

@media (max-width: 600px) {
  .wrapper {
    padding: 10% 5%; }
  .headerDecor {
    background: url(../assets/lines480x384.png) no-repeat;
    width: 480px;
    height: 384px; } }

@media (max-width: 480px) {
  .headerDecor {
    background: url(../assets/lines300x240.png) no-repeat;
    width: 300px;
    height: 240px; }
  header h1 {
    padding-bottom: 50px; } }

header .hamburger,
header .exitResponsive {
  display: none; }

header .show.siteNav {
  display: block; }

.topHeaderNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white; }

.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.topHeaderNav a {
  position: relative; }
  .topHeaderNav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0; }
  .topHeaderNav a:hover:after {
    width: 100%;
    left: 0; }

@media (max-width: 480px) {
  header button.hamburger {
    padding: 0;
    text-align: right;
    background: none;
    border: none; }
    header button.hamburger i {
      font-size: 60px;
      font-size: 3rem;
      color: #ff3057; }
  .exitResponsive i {
    font-size: 50px;
    font-size: 2.5rem;
    color: #ff3057;
    position: absolute;
    top: 5px;
    left: 5px; }
  header .exitResponsive,
  header .hamburger {
    width: 100%;
    display: block;
    padding-top: 0; }
  .menu {
    position: relative; }
  header .siteNav {
    z-index: 200;
    margin: 0;
    display: none;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(49, 49, 49, 0.95); }
    header .siteNav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
  .siteNav li {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    padding: 25px 0;
    width: 100%; }
    .siteNav li a {
      font-size: 48px;
      font-size: 2.4rem;
      text-align: center;
      width: 100%;
      padding: 25px;
      color: #ff3057; }
      .siteNav li a:hover {
        color: #30d2a5; } }

.headerNavSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.headerNavSocial li {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.headerNavSocial a {
  padding: 0;
  margin-top: 30px; }

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.headshotImage {
  position: relative; }

.headshotImage img {
  width: 300px; }

.headshotImage p {
  text-transform: uppercase;
  position: absolute;
  top: 84px;
  left: -109px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  min-height: 20px;
  color: #999999; }

.intro {
  z-index: 100;
  margin: auto 0;
  padding-left: 50px;
  position: relative; }
  .intro p a {
    color: #0b0b0b;
    padding: 0;
    z-index: 200; }
  .intro a:hover {
    color: #ff3057; }

.aboutMe .sectionContent {
  padding: 5% 12% 0 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.text span {
  color: #ff3057; }

.text h2 {
  color: #ff3057; }

.triangle {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  z-index: 0; }

.triangle1 {
  z-index: 0;
  position: absolute;
  top: -60px;
  right: -120px;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 250px;
  border-left-width: 250px;
  border-bottom: solid 285px rgba(255, 48, 87, 0.05); }

.triangle2 {
  z-index: 0;
  border: 2px solid green;
  position: absolute;
  right: -120px;
  top: 75px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 255px;
  border-left-width: 255px;
  border-bottom: solid 285px rgba(255, 48, 87, 0.05); }

@media (max-width: 1360px) {
  .intro h2 {
    margin: -20px 0 0 0; } }

@media (max-width: 1240px) {
  .triangle1 {
    top: 12px;
    right: -60px; }
  .triangle2 {
    top: 100px;
    right: -60px; } }

@media (max-width: 1000px) {
  .headshotImage img {
    width: 200px; }
  .headshotImage p {
    font-size: 18px;
    font-size: 0.9rem; } }

@media (max-width: 900px) {
  .aboutMe .sectionContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .headshotImage {
    padding-bottom: 50px; }
  .triangle1 {
    right: -20px; }
  .triangle2 {
    right: -20px; } }

@media (max-width: 600px) {
  .sectionHeader .sectionNumber {
    display: none; }
  .sectionHeader .sectionDesc h2 {
    text-align: left; }
    .sectionHeader .sectionDesc h2 span {
      font-size: 38px;
      font-size: 1.9rem; }
  .aboutMe .sectionContent {
    padding: 5% 5% 0 5%; }
  .triangle1 {
    right: 20px; }
  .triangle2 {
    right: 20px; } }

@media (max-width: 480px) {
  .triangle1 {
    right: 30px;
    border-right-width: 200px;
    border-left-width: 200px;
    border-bottom: solid 235px rgba(255, 48, 87, 0.05); }
  .triangle2 {
    right: 30px;
    border-right-width: 205px;
    border-left-width: 205px;
    border-bottom: solid 245px rgba(255, 48, 87, 0.05); } }

.skills {
  padding: 5% 10%;
  background: #0b0b0b; }

.skillsList {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.skills h2 {
  text-align: center;
  padding: 0 0 5% 0; }

.skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.skills i {
  color: #30d2a5; }

.skills img {
  width: 100%; }

.skills .fbIcon {
  padding: 6px 0 0 0; }

.skills span {
  color: white;
  padding: 15px 0; }

@media (max-width: 600px) {
  .skills h2 {
    padding-bottom: 10%; } }

.work {
  position: relative;
  z-index: 100; }

.sectionDecor {
  z-index: 0;
  background: url(../assets/Layer2squigglys.png) no-repeat;
  color: #30d2a5;
  background-position: right bottom;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  height: 630px; }

.portfolioPieceContainer {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.work .sectionContent {
  padding: 5% 10% 0 10%; }

.portfolioPiece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 100; }

.work1 .text, .work3 .text {
  padding-right: 75px; }

.work2 .text, .work4 .text {
  padding-left: 75px; }

.portfolioPiece .text h3 {
  padding-top: 65px; }

.portfolioPiece .text p a {
  color: #0b0b0b;
  padding: 0; }
  .portfolioPiece .text p a:hover {
    color: #ff3057; }

.workPreview a {
  padding: 0; }
  .workPreview a:focus {
    border: none; }
  .workPreview a img:focus {
    border: 2px solid #30d2a5; }

.previewButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.text a.view {
  background: #ff3057;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 25px;
  margin-right: 10px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .text a.view:hover {
    background: #30d2a5; }

@media (max-width: 1240px) {
  .work1 .text, .work3 .text {
    padding-right: 25px; }
  .work2 .text, .work4 .text {
    padding-left: 25px; }
  .portfolioPiece .text h3 {
    padding-top: 50px; }
  .text a.view {
    padding: 5px 20px; }
  .workPreview img {
    max-width: 420px; } }

@media (max-width: 900px) {
  .portfolioPiece {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .workPreview {
    text-align: right; }
  .workPreview {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; } }

@media (max-width: 600px) {
  .workPreview {
    text-align: center;
    max-width: 320px; }
  .workPreview img {
    width: 100%; } }

@media (max-width: 480px) {
  .workPreview {
    text-align: center; } }

section.contact {
  background-color: #0b0b0b;
  position: relative; }

.contact form {
  padding: 50px 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  z-index: 100; }

.contact h3 {
  padding-bottom: 10px; }

.contact h3,
.contact p {
  width: 80%; }

.contact label {
  width: 80%;
  text-align: left;
  padding: 40px 0 0px 0; }

.contact input[type="text"],
.contact input[type="email"] {
  padding-left: 15px;
  height: 50px;
  width: 80%;
  border-top: none;
  border-right: none;
  border-left: none;
  background: transparent;
  z-index: 100; }

button[type="submit"] {
  padding: 15px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  z-index: 100; }

button img {
  width: 18px;
  margin: 5px 0 0 5px; }

.contactDecor {
  background: url(../assets/headerLines.png) no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 530px;
  opacity: 0.45;
  z-index: 50; }

.contact .arrowContainer {
  background: transparent;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-align: center;
  z-index: -100; }

@media (max-width: 900px) {
  .contactDecor {
    background: url(../assets/lines-600x480.png) no-repeat;
    width: 600px;
    height: 480px; }
  .contact form {
    width: 100%; } }

@media (max-width: 600px) {
  .contactDecor {
    background: url(../assets/lines480x384.png) no-repeat;
    width: 480px;
    height: 384px; } }

@media (max-width: 480px) {
  .contactDecor {
    background: url(../assets/lines300x240.png) no-repeat;
    width: 300px;
    height: 240px; } }

footer {
  background-color: #ff3057;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 10%; }

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

footer i {
  color: white;
  padding: 0 10px;
  width: 100%; }

footer li a {
  padding: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

footer li i:hover {
  color: #0b0b0b;
  cursor: pointer; }
